@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hi, I'm Benjamin Doctor(Yes, that is my real last name). I'm a 15 year vetern of the IT industry and a Microsoft Certified Professional.
    Over my career I've done customer tech support for the #1 ISP at the time, developed reports with sql for a financial institution,
    and developed applications for an Ecom retailer</p>

<p>This site is mainly a respository of code snippets that I've found useful over my career, as well as a log of my study of and growth in 
    software develpment techniques and practices.</p>
