@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BenjaminDoctor.com</h1>
    <p class="lead">Welome to BenjaminDoctor.com, my online repository of code snippets</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Problem: How to have one centralized location for SQL Server aliases?</h2>
        <p>Solution: Use the Windows Management Instrumentation.
WMI is Microsoft's implementation of Web-Based Enterprise Management.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Problem:In MS SQL Server how to get a list of columns in a table</h2>
        <p>Solution: Use the sysobjects and syscolumns tables</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>